.MainProduct__wrap {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainProduct__Info {
    width: 75vw;
    font-weight: 900;
}

.MainProduct__Title {
    font-size: 30px;
    margin-bottom: 60px;
}

.MainProduct__List {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px auto 0px auto;

}

@media(max-width:1000px){
    .MainProduct__List{
        justify-content: center;
    }
}
