.MainShareProcedure__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.MainShareProcedure__Image {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.MainShareProcedure__Images {
    width: 200px;
    height: 140px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("../../../assets/favicon.svg");
    background-repeat: no-repeat;
    background-size:contain;
}

.MainShareProcedure__Info {
    width: 80vw;
}

.MainShareProcedure__Title {
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
}

.MainShareProcedure__Images.radius {
    border-radius: 10px;
}

.MainShareProcedure__arrow {
    margin: 0px 3vw;
}
.MainShareProcedure__Images_Element {
    display: flex;
    align-items: center;
}
@media (max-width: 500px) {
    .MainShareProcedure__Images_Element {
        flex-direction: column;
    }
}