.MainProduct__wrap {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainProduct__Info {
    width: 80vw;
}

.MainProduct__Title {
    font-size: 30px;
    margin-bottom: 60px;
}

.MainProduct__List {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

@media(max-width:1000px){
    .MainProduct__List{
        justify-content: center;
    }
}
