.MainShareProcedure__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.MainShareProcedure__Image {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.MainShareProcedure__Images {
    width: 200px;
    height: 140px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("../../../assets/favicon.svg");
    background-repeat: no-repeat;
    background-size:contain;
}

.MainShareProcedure__Info {
    width: 80vw;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.MainShareProcedure__Title {
    font-size: 30px;
    margin-bottom: 60px;
    text-align: start;
    
}

.MainShareProcedure__Images.radius {
    border-radius: 10px;
}

.MainShareProcedure__arrow {
    margin: 0px 3vw;
    transform: rotate(-90deg);
}
.MainShareProcedure__Images_Element {
    display: flex;
    align-items: center;
}

@media(max-width:1200px){
    .MainShareProcedure__Image{
        max-width: 300px;
    }
    .MainShareProcedure__Images_Element{
        flex-direction: column;
    }
    .MainShareProcedure__arrow{
        transform: rotate(0deg);
    }
}
