.MainInfo__wrap {
    max-width: 600px;
    margin: 15% auto;
}

.MainInfo__Info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.MainInfo__Catchphrase {
    font-size: 40px;
    margin-top: 50px;
}

.MainInfo__Subject {
    font-size: 25px;
    margin-top: 10px;
}

.MainInfo__Button {
    min-width: 90%;
    margin-top: 40px;
}