.MainInfo__wrap {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

.MainInfo__Info {
    max-width: 600px;
    text-align: center;
}

.MainInfo__Catchphrase {
    font-size: 40px;
    margin-top: 50px;
}

.MainInfo__Subject {
    font-size: 25px;
    margin-top: 10px;
}

.MainInfo__Button {
    min-width: 90%;
    margin-top: 40px;
}
.MainInfo__icon {
    font-size: 4em;
}