.SignUpInfo__wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}
.SignUpInfo__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.SignUpInfo__Column{
    width: 100%;
}
.SignUpInfo__Column__Two{
    width: 50%;
}
.SignUpInfo__Button{
    max-width: 444px;
    margin: 0px auto;
}
.SignUpInfo__left{
    margin:0px 80px;
    min-width: 510px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.SignUpInfo__right{
    margin:0px 80px;
    min-width: 510px;
    justify-content: flex-start;
}
.SignUpInfo__Phone{
    min-width: 410px;
    display: flex;
    align-items: center;
}
.SignUpInfo__title{
    min-width: fit-content;
    color: #494949;
}
.Input__Column{
    width: 100%;
    transition: 0.8s;
}
.SignUpInfo__error{
    height:24px;
}
@media (max-width: 600px) { 
    .Input__Column{
        min-width: 70%;
    }
    .SignUpInfo__left,.SignUpInfo__right{
        min-width: 100%;
    }
    .SignUpInfo__error{
        height: fit-content;
    }
    .SignUpInfo__wrap{
        width:100%;
    }
 }