@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,500&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
p {
  margin: 0.5em 0;
}

.Layout__wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Layout__contents {
  margin: 1em;
}
.Layout__contents.noPadding {
  margin: 0;
}
.Layout__header {
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  right: 0;
}
.Layout__navContents {
  flex: 1;
  text-align: right;
}
.Layout__navContents a {
  color: #ffffff;
}
.Layout__nav {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
  color: white;
}
a {
  text-decoration: none;
}
.Layout__footer {
  border-top: 1px solid #eaeaea;
  padding: 2.5em;
}
.Layout__brand {
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.Layout__brand > svg {
  margin-right: 10px;
}
