.Layout__wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Layout__contents {
  margin: 1em;
  flex: 1;
}
.Layout__contents.noPadding {
  margin: 0;
}
.Layout__header {
  z-index: 10001;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(17, 131, 250);
  position: sticky;
  position: -webkit-sticky;
  transition: background 0.5s;
}
.Layout__header.navFixed {
  position: fixed;
}
.Layout__header.whiteBackground {
  background: white;
}
.Layout__header.transparent {
  background: transparent;
}
.Layout__navContents {
  flex: 1;
  text-align: right;
}
.Layout__navContents a {
  color: #ffffff;
}

.Layout__nav {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
  color: white;
}
a {
  text-decoration: none;
}
.Layout__footer {
  border-top: 1px solid #eaeaea;
  padding: 2.5em;
}
.Layout__brand {
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.Layout__brand > .favicon {
  margin-right: 10px;
  height: 40px;
  width: auto;
  display: block;
}
.Layout__header.bgctransparent{
  background-color: transparent !important;
}
.Layout__brand > .logo {
  height: 30px;
}
.Layout__header.whiteColor {
  background-color: white !important;
}
.Layout__header.whiteColor .Layout__navContents,
.Layout__header.whiteColor .Layout__navContents a {
  color: black;
}
@media (max-width: 640px) {
  .Layout__brand > .favicon,
  .Layout__brand > .logo {
    height: 25px;
  }
}