.ArticlePage__Category {
  margin-top: 1em;
  color: gray;
}
.ArticlePage__title {
  margin: 0;
}
.ArticlePage__User {
  margin-bottom: 1em;
}
.ArticlePage__Images_wrap {
  overflow-x: auto;
  width: min-content;
}
.ArticlePage__Images {
  display: flex;
  width: fit-content;
}
.ArticlePage__Image {
  width: 200px;
  height: 200px;
  background: gray;
  margin: 0 1em;
}
.ArticlePage__wrap {
  width: 100%;
}
