.Information__wrap {
  width: 100%;
  min-width: 200px;
  margin: 2em;
  box-sizing: border-box;
}

.Information__Title {
  font-size: 30px;
  margin-bottom: 1em;
}

.Information__Text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

.Information__Personnel {
  font-size: 20px;
}
