.ProductLayout__wrap {
  margin: 0px 1em;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.ProductLayout__Before {
  display: flex;
  margin-left: -1em;
  cursor: pointer;
}

.ProductLayout__Left {
  flex: 1;
  margin-right: 1em;
}

.ProductLayout__Right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
}
